# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on: push

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        os: ["ubuntu-20.04", "ubuntu-22.04"]
        py: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]
        exclude:
          - os: "ubuntu-22.04"
            py: "3.6"
          - os: "ubuntu-22.04"
            py: "3.7"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.py }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.py }}
    - name: Install dependencies
      run: |
        python -c "import sys; print(sys.version)"
        python -m pip install --upgrade pip
        pip install flake8 pytest wheel
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        python setup.py bdist_wheel
        pip install dist/*.whl --upgrade
        cd main/tests
        pytest -vs

  gh-page:
    runs-on: ubuntu-latest
    name: Publish GitHub Pages
    needs: build
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Build documentation
      run: |
        pip install wheel
        python setup.py bdist_wheel
        pip install dist/*.whl --upgrade
        pip install sphinx pydata_sphinx_theme
        cd doc
        make html
        cp -arv getting-started build/html
        ! [ -e build/html/.nojekyll ] && touch build/html/.nojekyll
    - name: Publish documentation
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: doc/build/html
        CLEAN: true

  package:
    runs-on: ubuntu-latest
    name: Release packages to PyPI
    needs: build
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Build wheel
      run: |
        pip install wheel
        python setup bdist_wheel
    - name: Publish package to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@v1.4.1
      with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
